USE [master]
GO
/****** Object:  Database [lbd]    Script Date: 31/08/2019 03:12:23 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'lbd')
DROP DATABASE [lbd]
GO
/****** Object:  Database [lbd]    Script Date: 31/08/2019 03:12:23 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'lbd')
BEGIN
CREATE DATABASE [lbd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lbd', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\lbd.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lbd_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\lbd_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lbd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
