USE [hotel1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reservacion]') AND type in (N'U'))
ALTER TABLE [dbo].[Reservacion] DROP CONSTRAINT IF EXISTS [FK__Reservaci__Huesp__5165187F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reservacion]') AND type in (N'U'))
ALTER TABLE [dbo].[Reservacion] DROP CONSTRAINT IF EXISTS [FK__Reservaci__Habit__52593CB8]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Planta]') AND type in (N'U'))
ALTER TABLE [dbo].[Planta] DROP CONSTRAINT IF EXISTS [FK__Planta__Habitaci__4E88ABD4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Huesped]') AND type in (N'U'))
ALTER TABLE [dbo].[Huesped] DROP CONSTRAINT IF EXISTS [FK__Huesped__Estado___5629CD9C]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Hotel]') AND type in (N'U'))
ALTER TABLE [dbo].[Hotel] DROP CONSTRAINT IF EXISTS [FK__Hotel__Estado_Mu__5535A963]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado_Municipio]') AND type in (N'U'))
ALTER TABLE [dbo].[Estado_Municipio] DROP CONSTRAINT IF EXISTS [FK__Estado_Mu__Munic__5441852A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado_Municipio]') AND type in (N'U'))
ALTER TABLE [dbo].[Estado_Municipio] DROP CONSTRAINT IF EXISTS [FK__Estado_Mu__Estad__534D60F1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleado]') AND type in (N'U'))
ALTER TABLE [dbo].[Empleado] DROP CONSTRAINT IF EXISTS [FK__Empleado__Estado__571DF1D5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cargos]') AND type in (N'U'))
ALTER TABLE [dbo].[Cargos] DROP CONSTRAINT IF EXISTS [FK__Cargos__Servicio__5070F446]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cargos]') AND type in (N'U'))
ALTER TABLE [dbo].[Cargos] DROP CONSTRAINT IF EXISTS [FK__Cargos__Habitaci__4F7CD00D]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Servicios]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Reservacion]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Planta]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Municipio]
GO
/****** Object:  Table [dbo].[Mobiliario]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Mobiliario]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Huesped]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Hotel]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Habitacion]
GO
/****** Object:  Table [dbo].[Estado_Municipio]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Estado_Municipio]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Estado]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 02/11/2019 05:26:00 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Cargos]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[Cargos_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[Servicios_id] [int] NOT NULL,
	[CostoXHabitacion] [money] NOT NULL,
	[CostoXServicios] [money] NOT NULL,
	[Otros] [money] NOT NULL,
	[Fecha] [varchar](8) NOT NULL,
	[CostoTotal]  AS (([CostoXHabitacion]+[CostoXServicios])+[Otros]),
PRIMARY KEY CLUSTERED 
(
	[Cargos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Empleado_id] [int] NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Edad] [int] NOT NULL,
	[Puesto] [varchar](50) NOT NULL,
	[Turno] [varchar](11) NOT NULL,
	[SueldoMensual] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Estado_id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Municipio]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Municipio](
	[Estado_Municipio_id] [int] NOT NULL,
	[Estado_id] [int] NOT NULL,
	[Municipio_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Estado_Municipio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[Habitacion_id] [int] NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[Tipo] [char](7) NOT NULL,
	[Costo] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Habitacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[Hotel_id] [int] NOT NULL,
	[Servicios_id] [int] NOT NULL,
	[Reservacion_id] [int] NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Planta_id] [int] NOT NULL,
	[Mobiliario_id] [int] NOT NULL,
	[Empleado_id] [int] NOT NULL,
	[Nombre] [char](30) NOT NULL,
	[RFC] [varchar](15) NOT NULL,
	[CodigoPostal] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huesped](
	[Huesped_id] [int] NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Pais_id] [int] NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Huesped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mobiliario]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobiliario](
	[Mobiliario_id] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mobiliario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[Municipio_id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Municipio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[Planta_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[NumeroPlanta] [int] NOT NULL,
	[NumeroHabitacionesGrandes] [int] NOT NULL,
	[NumeroHabitacionesMedianas] [int] NOT NULL,
	[NumeroHabitacionesChicas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Planta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[Reservacion_id] [int] NOT NULL,
	[Huesped_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[Fecha] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 02/11/2019 05:26:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Servicios_id] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Costo] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Servicios_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [Fecha]) VALUES (1, 1, 1, 422.0000, 250.0000, 50.0000, N'28-10-19')
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [Fecha]) VALUES (2, 2, 3, 524.0000, 500.0000, 230.0000, N'28-10-19')
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [Fecha]) VALUES (3, 1, 5, 0.0000, 200.0000, 0.0000, N'28-10-19')
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [Turno], [SueldoMensual]) VALUES (1, N'Carlos Torres', 7, 28, N'Secretario', N'06:00-12:00', 12000.0000)
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [Turno], [SueldoMensual]) VALUES (2, N'Sarah Medina', 364, 34, N'Secretaria', N'12:00-18:00', 12000.0000)
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [Turno], [SueldoMensual]) VALUES (3, N'Suzana Laenana', 364, 34, N'Secretaria', N'12:00-18:00', 12000.0000)
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (2, N'Baja California')
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (3, N'Baja California Sur')
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (1, 1, 1)
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (2, 1, 2)
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (3, 1, 3)
GO
INSERT [dbo].[Habitacion] ([Habitacion_id], [Estado], [Tipo], [Costo]) VALUES (1, N'Ocupada', N'Chica  ', 211.0000)
INSERT [dbo].[Habitacion] ([Habitacion_id], [Estado], [Tipo], [Costo]) VALUES (2, N'Ocupada', N'Chica  ', 211.0000)
INSERT [dbo].[Habitacion] ([Habitacion_id], [Estado], [Tipo], [Costo]) VALUES (3, N'Ocupada', N'Chica  ', 211.0000)
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Pais_id], [Nombre], [Edad]) VALUES (1, 220, 1, N'Jesus de Jesus', 28)
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Pais_id], [Nombre], [Edad]) VALUES (2, 312, 2, N'Eduardo Obregon', 40)
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Pais_id], [Nombre], [Edad]) VALUES (3, 985, 3, N'Oscar Berlanga', 79)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (1, N'Sillon', 18)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (2, N'Sllon doble', 9)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (3, N'Sillon Triple', 4)
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (2, N'San Francisco de los Romo')
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (3, N'El Llano')
GO
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (2, 4, 1, 1, 1, 1)
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (3, 7, 1, 1, 1, 1)
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [Fecha]) VALUES (1, 2, 1, N'28-10-19')
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [Fecha]) VALUES (2, 1, 2, N'28-10-19')
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [Fecha]) VALUES (3, 3, 4, N'05-11-19')
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre], [Costo]) VALUES (1, N'Minibar', 200.0000)
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre], [Costo]) VALUES (2, N'Piscina', 100.0000)
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre], [Costo]) VALUES (3, N'Restaurant', 150.0000)
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD FOREIGN KEY([Servicios_id])
REFERENCES [dbo].[Servicios] ([Servicios_id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Estado_Municipio]  WITH CHECK ADD FOREIGN KEY([Estado_id])
REFERENCES [dbo].[Estado] ([Estado_id])
GO
ALTER TABLE [dbo].[Estado_Municipio]  WITH CHECK ADD FOREIGN KEY([Municipio_id])
REFERENCES [dbo].[Municipio] ([Municipio_id])
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Huesped]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Planta]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD FOREIGN KEY([Huesped_id])
REFERENCES [dbo].[Huesped] ([Huesped_id])
GO
